@import '~bootstrap/dist/css/bootstrap.min.css';

@import './vars.scss';
@import './sidebar.scss';

.root-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}