@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

@import './vars.scss';
@import './sidebar.scss';

.root-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  font-family: 'Roboto', sans-serif;
}

.main-title {
  font-weight: 200;
  font-size: 64px;
}